<template>
    <div class="container">
        <div class="card">
            <form v-on:submit.prevent="submitForm">
                <h1 class="text-center"><span class="underscore">Create new Message</span></h1>
                <div class="row">
                    <div class="col-md-4">
                        <span>Recipient: </span>
                    </div>
                    <div class="col-md-8">
                        <select v-model="recipient" class="form-select">
                            <option v-for="(user, index) in userList" v-bind:key="index" v-bind:value="user.id">{{ user.username }}</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <span>Title: </span>
                    </div>
                    <div class="col-md-8">
                        <input 
                                type="text" class="form-control"
                                v-model="title">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <span>Text: </span>
                    </div>
                    <div class="col-md-8">
                        <textarea cols="30" rows="10" v-model="body" class="form-control"></textarea>
                    </div>
                </div>
                <div class="form-controll success-block" v-if="success_msg">
                    {{ success_msg }}
                </div>
                <div class="form-controll error-block" v-else-if="error_msg">
                    {{ error_msg }}
                </div>
                <div class="flex-center">
                    <button class="btn my-btn">Create</button>
                </div>
            </form>
        </div>
    </div>
</template>

<script>

export default {
    name: 'CreateMessagge',
    data() {
        return {
            userList: [],
            recipient: null,
            title: "",
            body: "",
            error_msg: null,
            success_msg: null,
        }
    },
    methods: {
        async createMessage() {
            let token = this.$store.state.tokens.access;
            const config = {
                headers: {
                    'Authorization': `Bearer ${ token }`,
                }
            }
            await this.axios.post(
                "messages/",
                {
                    "recipient": this.recipient,
                    "title": this.title,
                    "body": this.body
                }, config
            ).then(response => {
                this.tockens = response.data;
                localStorage.setItem('access_token', this.tockens.access);
                localStorage.setItem('refresh_token', this.tockens.refresh);
                this.error_msg = null;
                this.success_msg = "Your message successful"

            }).catch(error => {
                this.error_msg = error.response.data.detail;
                this.success_msg = null;
            });
        },
        submitForm() {
            this.createMessage();
            console.log("Create new Message!")
            console.log(this.recipient)
            console.log(this.title)
            console.log(this.body)
        },
    },
    async beforeMount() {
        let token = this.$store.state.tokens.access;
        const config = {
            headers: {
                'Authorization': `Bearer ${ token }`,
            }
        }
        await this.axios.get("users/", config).then(response => {
            this.userList = response.data;
        });
    }
}
</script>

<style>
.container {
    max-width: 1200px;
    margin: 0px auto;
}
.card {
    width: 100%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    padding: 15px;
}
input {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 15px;
    width: 250px;
}
.form-controll {
    margin: 10px;
}
.success-block {
    border: 1px solid #44db5d;
    border-radius: 5px;
    background-color: #44db6a3b;
    color: #017715;
    padding: 5px 25px;
    text-align: center;
}
.error-block {
    border: 1px solid #db4444;
    border-radius: 5px;
    background-color: #db44443b;
    color: #940101;
    padding: 5px 25px;
    text-align: center;
}
</style>