<template>
<div class="container">
    <div class="card">
        <form v-on:submit.prevent="submitForm">
            <h1 class="text-center"><span class="underscore">Login</span></h1>
            <div class="row">
                <div class="col-md-4">
                    Username: 
                </div>
                <div class="col-md-8">
                    <input 
                        type="text" placeholder="Enter username" class="form-control"
                        v-bind:value="username" v-on:input="usernameChange">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    Password: 
                </div>
                <div class="col-md-8">
                    <input 
                            type="password" placeholder="Enter password" class="form-control"
                            v-bind:value="password" v-on:input="passwordChange">
                </div>
            </div>
            <div class="row success-block" v-if="success_msg">
                {{ success_msg }}
            </div>
            <div class="row error-block" v-else-if="error_msg">
                {{ error_msg }}
            </div>
            <div class="flex-center">
                <button class="btn my-btn">Login</button>
                <button class="btn btn-dark">Registration</button>
            </div>
        </form>
    </div>
</div>
</template>

<script>

export default {
    name: 'LoginForm',
    data() {
        return {
            username: "",
            password: "",
            error_msg: null,
            success_msg: null,
            tockens: null,
        }
    },
    methods: {
        usernameChange(event) {
            this.username = event.target.value
        },
        passwordChange(event) {
            this.password = event.target.value
        },
        async makeLogin(username, password) {
            await this.axios.post(
                "auth/",
                {
                    "username": username,
                    "password": password
                }
            ).then(response => {
                this.tockens = response.data;
                localStorage.setItem('access_token', this.tockens.access);
                localStorage.setItem('refresh_token', this.tockens.refresh);
                this.$store.state.tokens = {
                    access: localStorage.getItem('access_token'),
                    refresh: localStorage.getItem('refresh_token')
                }
                this.error_msg = null;
                this.success_msg = "You login successful"

            }).catch(error => {
                this.error_msg = error.response.data.detail;
                this.success_msg = null;
            });
        },
        submitForm() {
            this.makeLogin(this.username, this.password);
        },
    }
}
</script>

<style>
.container {
    max-width: 1200px;
    margin: 0px auto;
}
.card {
    width: 100%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    padding: 15px;
}
input {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 15px;
    width: 250px;
}
.success-block {
    border: 1px solid #44db5d;
    border-radius: 5px;
    background-color: #44db6a3b;
    color: #017715;
    padding: 5px 25px;
    text-align: center;
}
.error-block {
    border: 1px solid #db4444;
    border-radius: 5px;
    background-color: #db44443b;
    color: #940101;
    padding: 5px 25px;
    text-align: center;
}
</style>