<template>
<div class="container">
    <div class="row">
        <h1 class="text-center"><span class="underscore">Recipient Messages</span></h1>
        <hr>
    </div>
    <div class="row">
        <div class="col-md-12 flex-end">
            <button type="button" class="btn btn-secondary" v-on:click="getRecipientMessages">Sync</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <ul class="msg-list" v-if="(messages.length > 0)">
                <li class="msg-item" v-for="item in messages" v-bind:key="item.id">
                    <div class="row">
                        <div class="col-md-9">
                            <h3>Title: {{ item.title }}</h3>
                            <hr>
                            <h5>Sender: {{ item.sender.username }}</h5>
                            <hr>
                            <p>
                                Text:
                            </p>
                            <p>
                                {{ item.body }}
                            </p>
                            <p>Date: {{ item.created_at }}</p>
                        </div>
                        <div class="col-md-3">
                            <div class="flex-center">
                                <button 
                                        type="button" class="btn btn-danger" 
                                        v-on:click="deleteMessages(item.id)">Delete</button>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <h3 v-else>
                You don't have any messages
            </h3>
            <h3 v-show="error_msg">
                {{ error_msg }}
            </h3>
        </div>
    </div>
</div>
</template>

<script>
export default {
    name: 'RecipientMsg',
    data() {
        return {
            messages: [],
            error_msg: null,
        }
    },
    methods: {
        async getRecipientMessages() {
            let token = this.$store.state.tokens.access;
            const config = {
                headers: {
                    'Authorization': `Bearer ${ token }`,
                }
            }
            await this.axios.get("messages/recipient/", config).then(response => {
                this.messages = response.data;
            }).catch(error => {
                this.error_msg = error.response.data.detail;
            });
        },

        async deleteMessages(id) {
            let token = this.$store.state.tokens.access;
            const config = {
                headers: {
                    'Authorization': `Bearer ${ token }`,
                }
            }
            await this.axios.delete(`messages/${ id }`, config).then(()=> {
                this.getRecipientMessages();
            }).catch(error => {
                this.error_msg = error.response.data.detail;
            })
        },
    },
    async beforeMount() {
        this.getRecipientMessages();
    }
}
</script>

<style>
.pointer {
    cursor: pointer;
}
</style>