<template>
  <div class="sidebar">
    <h2 class="text-center"><span class="underscore">DRF Letters</span></h2>
    <div class="menu">
      <router-link to="/" class="menu-item">Inbox</router-link>
      <router-link to="/sended" class="menu-item">Sended messages</router-link>
      <router-link to="/recipient" class="menu-item">Received messages</router-link>
      <router-link to="/create-msg" class="menu-item">Create message</router-link>
      <router-link to="/login" class="menu-item">Login</router-link>
    </div>
  </div>
  <div class="content">
    <router-view></router-view>
  </div>
</template>

<script>
export default {
  name: 'App',
  async beforeCreate() {
    if (this.$store.state.tokens == null) {
      this.$store.state.tokens = {
          access: localStorage.getItem('access_token'),
          refresh: localStorage.getItem('refresh_token')
      }
    }
    await this.axios.post(
        "auth/verify/", {"token": this.$store.state.tokens.access}
    ).catch(error => {
      if (error.response.status == 401) {
        this.$store.commit('REFTESH_TOKENS_FROM_API');
      }
    });
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.underscore {
  border-bottom: 2px solid #3eaf7c;
  padding: 5px 25px;
}
.form-control {
    margin: 10px;
}
.text-center {
  margin: 20px 0px;
}
.sidebar {
  width: 350px;
  height: 100%;
  background-color: #353535;
  color: #fff;
}
.content {
  flex-grow: 1;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
}
.menu {
  margin: 60px 0px;
}
.menu-item {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  color: #3eaf7c;;
  border-bottom: 1px solid #3eaf7c;
  padding: 10px 20px;
  transition: all 0.5s ease-in-out;
}
.menu-item:last-child {
  border-bottom: none;
}
.menu-item:hover {
  background-color: #fff;
  color: #000;
  padding: 10px 35px;
}

.btn {
    min-width: 73px;
}
.flex-end {
    display: flex;
    /* justify-content: flex-end; */
    align-items: flex-end;
    flex-direction: column;
    /* flex-wrap: nowrap; */
}
.msg-list {
    list-style: none;
}
.msg-item {
    border: 1px solid #757575;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0px;
}
.my-btn {
  background-color: #3eaf7c;
  border: 1px solid #3eaf7c;
  color: white;
  margin: 0px 15px;
}
.my-btn:hover {
  background-color: #49c08a;
  border: 1px solid #49c08a;
}
.flex-center {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}
</style>
